body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #fff;


}

header {
    background-color: #333;
    padding: 15px;
    color: #fff;
    text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: blue;
}

nav img {
    max-height: 50px;
    /* Adjust the height as needed */
    margin: 0 auto;
    /* Center the image */
    display: block;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
}

.red {
    color: red;
}

li {
    font-size: 20px;
}

.red text-center {
    text-align: center;
}

.d-block {
    height: 500px;
    width: 500px;
}

.dog {
    left: 10%;
}

.u {
    list-style-position: inside;
    /* This aligns the list items with the bullets/numbers */
}

.u {
    background-color: #f0f0f0;
    padding: 10px;
}

.i {
    margin-bottom: 8px;
}

.lol {
    padding: 15px;
    text-align: center;
}